<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/static/table.js"></script>
</head>
<body>
<table id="list-pokemon" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>num_dex</th>
            <th>species</th>
            <th>forme</th>
            <th>type1</th>
            <th>type2</th>
            <th>ability1</th>
            <th>ability2</th>
            <th>abilityH</th>
            <th>hp</th>
            <th>attack</th>
            <th>defense</th>
            <th>spattack</th>
            <th>spdefense</th>
            <th>speed</th>
            <th>total</th>
            <th>pkmn_class</th>
            <th>percent_male</th>
            <th>percent_female</th>
        </tr>
    </thead>
</table>

</body>
</html>