{% extends "base/base.html" %}
{% block title %}<title>All pokémon Listing</title>{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/static/table.js"></script>
{% endblock %}
{% block content %}
        <div class="col-md-12">
            <div class="page-header">
                <h1>Pokémon listing</h1>
            </div>
            <table id="list-pokemon" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>id</th>
                    </tr>
                </thead>
            </table>
        </div>
{% endblock %}