<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1 id="name">{{pokemon.forme}}</h1>
    <div>
        <p>Pokedex Number: {{pokemon.num_dex }}</p>
        <p>Type 1: {{pokemon.type1 }}</p>
        <p>Type 2: {{pokemon.type2 }}</p>
        <p>Ability 1: {{pokemon.ability1 }}</p>
        <p>Ability 2: {{pokemon.ability2 }}</p>
        <p>Hidden Ability: {{pokemon.abilityH }}</p>
    </div>
    <div>
        <h3> Stats </h3>
        <p>HP: {{pokemon.hp }}</p>
        <p>Attack: {{pokemon.attack }}</p>
        <p>Defense: {{pokemon.defense }}</p>
        <p>SP Attack: {{pokemon.spattack }}</p>
        <p>SP Defense: {{pokemon.spdefense }}</p>
        <p>Speed: {{pokemon.speed }}</p>
        <p>Total: {{pokemon.total }}</p>
    </div>
    <div>
        <h3> Other info </h3>
        <p>Weight: {{pokemon.weight }}</p>
        <p>Height: {{pokemon.height }}</p>
        <p>Dex entrance 1: {{pokemon.dex1 }}</p>
        <p>Dex entrance 2: {{pokemon.dex2 }}</p>
        <p>Class: {{pokemon.pkmn_class }}</p>
        <p>Male percentage: {{pokemon.percent_male }}</p>
        <p>Female percentage: {{pokemon.percent_female }}</p>
        <p>Pre-evolution: {{pokemon.pre_evolution }}</p>
        <p>Egg Group 2: {{pokemon.egg_group2 }}</p>
        <p>Egg Group 1: {{pokemon.egg_group1 }}</p>
    </div>
</table>

</body>
</html>