<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    
    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title id="forme-title"> {{ id }} </title>
</head>
<body id="pokemon-page">
    <a class="btn" href="{{ url_for('home_controller.index')}}"> Back </a>
    <div class="col-md-12">
        <div class="page-header">
            <h1 id="forme-header"></h1>
        </div>
        <div class="row">
            <div class="col-md-4">
            <div>
                <!-- POKEMON IMAGE -->
                    <img id="image-link" src="#">
                <!-- POKEMON IMAGE -->
                </div>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img id="type1" src="#">
                            <img id="type2" src="#">
                        </li>
                        <li class="list-group-item" id="ability1-li"></li>
                        <li class="list-group-item" id="ability2-li"></li>
                        <li class="list-group-item" id="abilityH-li"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">    
                    <div class="panel-heading">
                        <h3 class="panel-title" id="stats_click"> Stats </h3>
                    </div>
                            <ul class="list-group" id="stats_table">
                                <li class="list-group-item" id="hp-li"></li>
                                <li class="list-group-item" id="attack-li"></li>
                                <li class="list-group-item" id="defense-li"></li>
                                <li class="list-group-item" id="spattack-li"></li>
                                <li class="list-group-item" id="spdefense-li"></li>
                                <li class="list-group-item" id="speed-li"></li>
                                <li class="list-group-item" id="total-li"></li>
                            </ul>
                        <div id="stats_viz"></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Other info </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" id = "weight-li"></li>
                        <li class="list-group-item" id = "height-li"></li>
                        <li class="list-group-item" id = "dex1-li"></li>
                        <li class="list-group-item" id = "dex2-li"></li>
                        <li class="list-group-item" id = "class-li"></li>
                        <li class="list-group-item" id = "malep-li"></li>
                        <li class="list-group-item" id = "femalep-li"></li>
                        <li class="list-group-item" id = "pre-ev-li"></li>
                        <li class="list-group-item" id = "egg1-li"></li>
                        <li class="list-group-item" id = "egg2-li"></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="/static/load_pokemon_page.js"></script>
</html>