{% extends "base/base.html" %}

{% block title %}
    <title id="forme-title">Team</title>
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
{% endblock %}

{% block content %}
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
    <p> THIS IS YOUR CHOSEN TEAM </p>
{% endblock %}

{% block footer %}
{% endblock %}