{% extends "base/base.html" %}

{% block title %}
    <title id="forme-title">Team</title>
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
{% endblock %}

{% block content %}
    <section id="portfolio">
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top:40px">

                    {% for id in id_list %}
                        <div class="col-md-2 poke-id">
                            <h1> {{ id }} </h1>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script src="/static/load_team_page.js"></script>
{% endblock %}