{% extends "base/base.html" %}

{% block title %}
    <title id="forme-title">Team</title>
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="//d3plus.org/js/d3.js"></script>
    <script src="//d3plus.org/js/d3plus.js"></script>
{% endblock %}

{% block content %}
    <div id="team_list" hidden> {{id_list}}</div>
    <section id="portfolio">
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div id="team-div" class="col-md-12 text-center" style="margin-top:40px"></div>
                <div id="viz-div">
                    <div class="col-md-4" id="hp_viz" style="height:300px"></div>
                    <div class="col-md-4" id="attack_viz" style="height:300px"></div>
                    <div class="col-md-4" id="defense_viz" style="height:300px"></div>
                    <div class="col-md-4" id="speed_viz" style="height:300px"></div>
                    <div class="col-md-4" id="spattack_viz" style="height:300px"></div>
                    <div class="col-md-4" id="spdefense_viz" style="height:300px"></div>
                    <div class="col-md-6" id="total_viz" style="height:400px"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script src="/static/load_team_page.js"></script>
{% endblock %}